.home-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;

}
.home-content {
  background: linear-gradient(to right, #4f46e5, #9333ea);
  padding: 40px;
  border-radius: 20px;
  text-align: center;
  max-width: 800px;
  color: white;
}

.home-content h1 {
  font-size: 2.5em;
  margin-bottom: 20px;
}

.home-content p {
  margin-bottom: 30px;
  font-size: 18px;
}

.button-container {
  display: flex;
  justify-content: center;
  gap: 15px;
  flex-wrap: wrap;
}

.home-button {
  background-color: #3b82f6;
  color: white;
  padding: 12px 20px;
  border-radius: 10px;
  text-decoration: none;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.home-button:hover {
  background-color: #2563eb;
}

.home-button.purple {
  background-color: #9333ea;
}

.home-button.purple:hover {
  background-color: #7e22ce;
}
